body{
	/* background-color: #e2e2e2; */
	 background-color: #400080; 
	/* background-image: url('https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg');
	
	background-attachment: fixed;
	background-position: center; */
}
